* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif
}

body {
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #050505;
}

.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

.formulario {
    border:#000000 solid 2.5px;
    border-radius: 30px;
    width: 450px;
    height: 700px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.create-account {
    padding: 1rem 0;
    font-size: 2rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon:hover {
    background-color: #e71d73;
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
    font: 1.3em sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: rgb(0, 0, 0) thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: rgb(0, 0, 0);
}

.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin rgb(0, 0, 0);
    padding: .7rem;
    border-radius: 2rem;
    background-color: #a89672;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #000000;
}
.formulario input[type="button"] {
    width: 70%;
    height: 50px;
    margin: auto;
    border: solid thin rgb(0, 0, 0);
    padding: .7rem;
    border-radius: 2rem;
    background-color:#a89672;
    font-weight: 600;
    margin-top: 1rem;
    font-size: .8rem;
    cursor: pointer;
    color: #000000;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}
